@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

:root  {
   --dark-blue: #6f88b1;
   --mid-blue: #86a0c9;
   --light-blue: #a7c0e8;
   --dark-grey: #30333c;
   --light-grey-1: #70737c;
   --light-grey-2: #30333c;
   --color-logo:#23231E;
   --lightest-grey: #f0f2f7;
   --color-light: #fff;
   --blue-gradient-1: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,241,255,1) 0%, rgba(250,252,255,1) 100%);
   --green-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,255,234,1) 0%, rgba(229,255,245,1) 100%); 
   --orange-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(250,166,32,1) 0%, rgba(235,47,72,1) 100%);
  
   --font-primary-color: var(--light-grey-1);
   --font-secondary-color: var(--light-grey-2);
   --font-blue-color: var(--dark-blue);
   --font-white-color: var(--white);

   --font-family-q: 'Quicksand', sans-serif;
   --font-family-m: 'Montserrat', sans-serif;


   --color-dark: #062726;


  }