@import "global.css";
@import "brand.css";
@import "header/header.css";
@import "header/header-nav.css";
@import "main/main.css";

html {
  font-size: 62.5%;
  /* block-size: 100%;
  inline-size: 100%; */
  /* background: var(--white);
  color: var(--font-secondary-color); */
}


body {
  background: var(--blue-gradient-1);
  color: var(--light-grey-2);
  font-family: var(--font-family-m);
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 500;
}

h1,
h3 {
  line-height: 1.2;
  font-family: var(--font-family-q);
}

h1 {
  font-size: 5rem;
  max-width: 16ch;
}
h3 {
  font-size: 2.6rem;
  min-width: 19ch;
}

p {
  line-height: 1.7;
  max-inline-size: 45ch;
}

a {
  color: currentColor;
}

:focus {
  outline: 1px dotted currentColor;
  outline-offset: 0.2rem;
}

p,
li,
dl {
  max-width: 40ch;
}

@media (max-width: 40em) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.1rem;
  }
}
